server:
  port: 8090
spring:
  application:
    name: api-passenger
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
#  redis:
#    port: 6379
#    host: localhost
#    database: 0


